---
key: 2
title: Blog
permalink: /topics/
options: fullwidth
excerpt: My thoughts on code
image: pic01.jpg
background-image: pic01.jpg
---

<!-- {%  if site.posts %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Featured</h4>
  <ul class="post-list">{%
        for post in site.categories.topics %}{%
          if post.tags contains "featured" %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="container">
            <p class="post-title">{{ post.title }}</p>
            <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
            <p class="post-desc">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>
          </div>
        </a>
      </li>{%
          endif %}{%
        endfor %}
  </ul>{%
      endif %}
  <hr style="margin:1em 0 1em 0;" /> -->

    <ul style="list-style-type: none;">{%
      assign p = '9999'
%}{%  for post in site.categories.topics
%}{%    assign n = post.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
<div style="text-align:center">
      <br /><h5 style="margin-top:-40px; margin-bottom:40px">{{ n }}</h5>{%
        endif %}
      <h3 style="padding-bottom: -20px;"><code>[{{ post.date | date: "%d %b" }}]</code></h3>
        <h2 style="padding-bottom:-30px"><a href="{{ post.url }}" style="white-space: nowrap;"><b>{{ post.title }}</b></h2></a>
          <p style="margin-bottom:40px; width:60%; margin: 0 auto;">{{ post.excerpt | strip_html | truncatewords: 30 }}</p><br><br>{%
      endfor
%}

</div>
{%  endif %}
